@charset "utf-8";

body {
    background:#efefef;
}

#btn {
    margin: 30px auto 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #EF454A;
    text-align: center;
    line-height:  200px;
    color:  #fff;
    font-size: 42px;
    font-weight: bold;
}